@import "../base";

/* @define Button */
.Button {
  display: inline-block;
  min-width: 9.2rem;
  padding: 0 1.8rem;
  line-height: 3.15rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background: rgb(var(--color-orange));
  font-weight: 600;
  white-space: nowrap;
  user-select: none;
  border-radius: 4rem;
  transform-origin: center;
  transition: 90ms var(--ease-out);
  transition-property: transform;
  text-align: center;
}

.Button:not([disabled]):hover {
  transform: scale(1.05);
  color: rgb(255, 255, 255);
  background: rgb(var(--color-orange));
}

.Button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}