.Quotes {
  position: relative;
  padding: 3.75rem 0 1.75rem;

  --Quotes-dot-size: 8px;
}

.Quotes--single {
  padding: 3.75rem 0;
}

@media (min-width: 800px) {
  .Quotes {
    padding: 5.5rem 0 1.75rem;
  }

  .Quotes--single {
    padding: 5.5rem 0;
  }
}

.Quotes-wrap,
.Quotes-nav {
  position: relative;
  z-index: 1;
}

/* Hide all but the first slide when component is initiating */
.Quotes.is-loading .Quotes-slide:not(:first-child) {
  display: none;
}

.Quotes-card {
  width: calc(100% - 1rem);
  max-width: 720px;
  margin: 0 auto;
  background: #fff;
  padding: 3rem 1.25rem;
  text-align: center;
}

@media (min-width: 310px) {
  .Quotes-card {
    width: calc(100% - 3rem);
  }
}

@media (min-width: 800px) {
  .Quotes-card {
    padding: 4rem;
  }
}

.Quotes-icon {
  color: rgb(var(--color-orange));
  max-width: 45px;
  height: auto;
}

.Quotes-text {
  margin-top: 2rem;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 600;
}


.Quotes-meta {
  margin-top: 1rem;
  font-size: 0.875rem;
}

@media (min-width: 800px) {
  .Quotes-meta {
    margin-top: 3.125rem;
  }
}

.Quotes-metaName,
.Quotes-metaTitle {
  display: block;
  font-style: normal;
}

.Quotes-metaName {
  font-weight: 600;
  text-transform: uppercase;
}


.Quotes-nav {
  margin-top: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Quotes-navButton {
  width: calc(12px * 2 + var(--Quotes-dot-size)); /* space between dots * 2 + width of dot */
  height: calc(12px * 2 + var(--Quotes-dot-size));

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.Quotes-navButton::before {
  content: "";
  display: block;
  width: var(--Quotes-dot-size);
  height: var(--Quotes-dot-size);
  background: #fff;
  border-radius: 50%;
  opacity: .6;
  transition: opacity 200ms ease;
}

.Quotes-navButton.is-active::before {
  opacity: 1;
}

.Quotes-navButton:focus-within {
  outline: none;
}

.Quotes-image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
