@import "../base";

/* @define Hero */
:root {
  --Hero-rotatingDelay: 450ms;
}

.Hero {
  --Hero-scroll: 0;
  --Hero-rotatingDelay: 450ms;
  position: relative;
  width: 100%;
}

.Hero--image.is-loading {
  background-color: rgb(var(--loading-color));
}

.Hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0 4rem;
}

@media (min-width: 600px) and (min-height: 400px) {
  .Hero-content {
    margin: 9rem 0 6rem;
  }
}

.Hero-title {
  font-size: 2.25rem;
  line-height: 1.1;
  max-width: 35rem;
  font-weight: 600;
}

@media (min-width: 800px) and (min-height: 400px) {
  .Hero-title {
    font-size: 3.5rem;
    max-width: 50rem;
  }
}

@media (min-width: 950px) and (min-height: 400px) {
  .Hero-title {
    font-size: 4rem;
  }
}

.Hero-text {
  max-width: 32em;
  font-size: 1.125rem;
  margin-top: 0.875rem;
}

@media (min-width: 800px) and (min-height: 400px) {
  .Hero-text {
    font-size: 1.5rem;
    margin-top: 0.8em;
  }
}

/**
 * Action
 */

.Hero-action {
  margin-top: 1.6875rem;
}

/**
 * Centered text
 */

.Hero--center {
  text-align: center;
}

.Hero--center .Hero-title {
  margin-left: auto;
  margin-right: auto;
}

.Hero--center .Hero-text {
  margin-left: auto;
  margin-right: auto;
}

/**
 * With image
 */

.Hero--image {
  background: rgb(var(--color-royal));
  color: rgb(255, 255, 255);
  margin-bottom: 3.4rem;
}

.Hero-wrap,
.Hero-wrap::after {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Hero-wrap::after {
  content: "";
  background: rgba(0, 0, 0, 0.3);
}

.Hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  display: block;
  transition: transform 50ms ease;
  transform-origin: bottom;
  transform: scale(1.02) translate3d(0, var(--Hero-scroll), 0);
}

.Hero--image .Hero-content {
  position: relative;
  z-index: 1;
  padding: 6.25rem 0;
  margin: 0;
}

@media (min-width: 800px) and (min-height: 400px) {
  .Hero--image {
    margin-bottom: 5rem;
  }

  .Hero--image .Hero-content {
    min-height: 35rem;
  }
}

@media (min-width: 1000px) and (min-height: 400px) {
  .Hero--image {
    margin-bottom: 7rem;
  }

  .Hero--image .Hero-content {
    min-height: 75vh;
  }
}

/**
 * Rotating text
 */

.Hero-rotateWrap {
  position: relative;
  display: block;
  height: 1.2em;
  color: rgb(var(--color-orange));
}

@media (min-width: 500px) {
  .Hero-rotateWrap {
    display: inline-block;
    vertical-align: top;
  }
}

.Hero-rotateText {
  position: absolute;
  white-space: nowrap;
}

.Hero-rotateText:not(:first-child) {
  display: none;
}

:root[scripting-enabled] .Hero-rotateText {
  display: inline-block;
  transform: translateX(.3em);
  transition: transform 300ms ease, opacity 300ms ease;
  opacity: 0;
}

:root[scripting-enabled] .Hero-rotateText.out {
  transform: translateX(-.3em);
  opacity: 0;
}

:root[scripting-enabled] .Hero-rotateText.in {
  transform: translateX(0px);
  opacity: 1;
}
