@import "../base";

/* @define View */
.View {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: rgb(var(--document-background));
}

/**
 * Header
 */

.View-header {
  position: relative;
  z-index: 5;
}

/**
 * Main content area
 */

.View-main {
  flex-grow: 1;
}

@media (max-width: 799px) {
  .View.is-overlayed .View-main {
    display: none !important;
  }
}

.View-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
}

@media (min-width: 600px) {
  .View-title {
    margin-bottom: 1.5rem;
  }
}

/**
 * Footer
 */

.View-footer::before {
  content: "";
  height: 13vh;
  display: block;
  max-height: 7rem;
}

@media (min-width: 1000px) {
  .View-footer::before {
    max-height: none;
    min-height: 8rem;
  }
}

/**
 * Slide in things
 */

:root[scripting-enabled] .View-slide {
  will-change: transform;
  transition: 600ms var(--ease-out);
  transition-property: transform, opacity;
  transform: translateY(20vh);
  opacity: 0;
}

:root[scripting-enabled] .View-slide.is-visible {
  will-change: transform;
  transform: translateY(0vh);
  opacity: 1;
}