@import "../base";

/* @define View */
.View {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: rgb(var(--document-background));
}

/**
 * Header
 */

.View-header {
  position: relative;
  z-index: 5;
}

/**
 * Main content area
 */

.View-main {
  flex-grow: 1;
}

@media (max-width: 799px) {
  .View.is-overlayed .View-main {
    display: none !important;
  }
}

.View-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.View-title--center {
  display: block;
  text-align: center;
  font-size: 1.6625rem;
}

@media (min-width: 600px) {
  .View-title {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 800px) and (min-height: 400px) {
  .View-title--center {
    font-size: 2em;
  }
}

/**
 * Footer
 */

.View-footer::before {
  content: "";
  height: 13vh;
  display: block;
  max-height: 7rem;
}

@media (min-width: 1000px) {
  .View-footer::before {
    max-height: none;
    min-height: 8rem;
  }
}
