@import "../base";

/* @define Connect */
.Connect {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 900px) {
  .Connect {
    flex-wrap: nowrap;
  }
}

.Connect-heading {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.Connect-link {
  color: rgb(var(--color-orange));
  border: 0 !important;
}

.Connect-instagram {
  --Grid-gutter: 1.5rem;
  --Grid-gutter-vertical: 1.5rem;
  flex: 1 1 100%;
  order: 1;
  margin-top: 4rem;
}

@media (min-width: 900px) {
  .Connect-instagram {
    order: 0;
    flex: 1 1 auto;
    margin-right: 7rem;
    margin-top: 0;
  }
}

.Connect-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.Connect-image {
  display: block;
  max-width: 7rem;
  height: auto;
  margin-bottom: 2rem;
}

.Connect-input {
  display: inline-block;
  width: 18rem;
  max-width: 100%;
  margin-top: 1rem;
  border: 1px solid #bbb8c9;
  line-height: normal;
  padding: 1.2rem 1.7rem;
  font-size: 1.125rem;
  border-radius: 4rem;
  -webkit-appearence: none;
  appearance: none;
  color: rgb(var(--color-orange));
}

.Connect-input::placeholder {
  color: rgb(var(--color-royal));
  opacity: 1;
}

.Connect-input:focus {
  border-color: currentColor;
  border-width: 2px;
  padding: calc(1.2rem - 1px) calc(1.7rem - 1px);
}

.Connect-input:focus-within {
  outline: 0 !important;
}

.Connect-figure {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.Connect-post {
  display: block;
  width: 100%;
}
