/* @define utilities */

.u-slideDown {
  opacity: 0;
  animation: slide-down 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
